[Desktop Entry]
Type=Application
Name=NoCarrierMail
GenericName=Offline Mail Reader
Comment=Offline mail packet reader for Blue Wave, QWK, OMEN, SOUP, and OPX
Exec=ncmail
Icon=ncmail
Terminal=true
Categories=Network;Email;
Keywords=offline;mail;qwk;bluewave;bbs;soup;
